params {
    gwas_sheet       = null
    phenos           = null
    qced_genotypes   = null
    outdir           = null
    bgen_sample_file = null
    imputed_bgen_chrs_path = null

    publish_dir_mode = 'copy'
}

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
        conda.createTimeout     = '1 h'
    }
}

includeConfig 'conf/modules.conf'